PORT=3000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

MONGODB_URI=mongodb://127.0.0.1:27017/auth_api

JWT_ACCESS_SECRET=change-me
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=change-me-too
JWT_REFRESH_EXPIRES_IN=7d

EMAIL_VERIFICATION_EXPIRES_MIN=60
PASSWORD_RESET_EXPIRES_MIN=30

# Leave EMAIL_HOST unset to auto-use a free Ethereal test inbox in development
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM="Auth API" <no-reply@auth-api.local>
